*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --main-color: #3d7af2;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family:'Leto', sans-serif;
}

body{
    margin: 0;
    background-color: #bdbebe;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
}

.price-comparison{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 16px;
}

.price-column{
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 32px;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;
}
.price-column.popular{
    position: relative;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
}
.price-column:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.price-column:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.price-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font-family);
    font-weight: 600;
}

.price{
    display: flex;
    font-size: 55px;
}
.dollar-sign{
    font-size: 25px;
    margin-top: 8px;
    margin-right: 5px;
}
.per-month{
    font-size: 12px;
    align-self: flex-end;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.plan-name{
    text-transform: uppercase;
    font-size:15px;
    margin-top: 15px;
    margin-bottom: 0;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 32px;
    margin-Bottom: 32px;
}
.price-column.popular .divider{
    background-color: rgba(255, 255, 255, 0.2);
}

.features{
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
}

.features img{
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
}

.features.inactive{
    color: #999;
    text-decoration: line-through;
}

.most-popular{
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--heading-font-family);
}

.cta{
    border: none;
    background-color: var(--main-color);
    color: white;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 5px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
}

.price-column.popular .cta{
    background-color: white;
    color: var(--main-color);
}

.cta:hover, .cta:focus{
    transform: scale(1.1);
}