body{
    margin: 0;
}

section{
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

section:nth-child(1){
    background-image: url("./images/img-1.jpg");
}
section:nth-child(2){
    background-image: url("./images/img-2.jpg");
}
section:nth-child(3){
    background-image: url("./images/img-3.jpg");
}
section:nth-child(4){
    background-image: url("./images/img-4.jpg");
}
section:nth-child(5){
    background-image: url("./images/img-5.jpg");
}

.title{
    font-size: 5em;
    font-weight: 600;
    color: black;
    text-align: center;
}