html{
    min-height: 100%;
    overflow: hidden;
}

body{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(20, 20, 20);
}

.container{
    display: inline-block;
    margin: 20%;
}

.text{
    overflow: hidden;
    font-size: 20px;
    font-weight: 800;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(50, end) infinite;
}

@keyframes typing{
    from{
        width: 0;
    }
    to {
        width: 100%;
    }
}